/*-------Color theme--------

Teal #16baba
white #FFFFFF
black #000000
*/

* {
	margin: 0;
	padding: 0;
} 

/*------Box Sizing------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*-------- Body and Main -------*/

body{
  background-image: url(../img/white-texture.png);
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

main {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding: 20px;
}

/*-----Header-------*/

header.primary{
  background-color: rgb(0,0,0,0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 10px;
  border-bottom: 2pt solid black;
}

header h1 a{
  background-color: goldenrod;
  text-decoration: none;
  color: black;
  font-size: 50px;
}

.head-left{
  background-color:aquamarine;
}

header h2{
  color: black;
  font-size: 40px;
  background-color: lightcyan;
}

nav ul{
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  text-align: right;
  list-style-type: none;
  padding:
}

nav ul li{
  display: inline;
  line-height: 105px;
  padding: 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 25px;
  border: 1pt solid black;
  border-radius: 5px;
  padding: 20px;
}