/* ---------------Color Theme----------------- */
.color-theme_Website-Banner-Idea-1-1-hex { color: #F279A6; }
.color-theme_Website-Banner-Idea-1-2-hex { color: #73394E; }
.color-theme_Website-Banner-Idea-1-3-hex { color: #34BFBF; }
.color-theme_Website-Banner-Idea-1-4-hex { color: #BFBFBF; }
.color-theme_Website-Banner-Idea-1-5-hex { color: #0D0D53; }


/* ---------------Box Sizing----------------- */



body{
    background-color: #0D0D53;

}