/*-------Color theme--------

Teal #16baba
white #FFFFFF
black #000000
*/

* {
	margin: 0;
	padding: 0;
} 

/*-----IMGs---------*/

img {
  max-width: 100%;
  height: auto;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  padding: 5px; 
}

.img-left {
   float: left;
   margin: 10px 20px 10px 0;
   padding: 5px;
}

.img-center{
   display:block;
   margin: 20px auto;
   padding: 5px;
}

/*------Box Sizing------*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}
  
/*-------- Body and Nav -------*/
  

body{
  background-image: url(../img/paper-texture.png);
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

header.primary{
  background-color: #16baba;
  width: 100%;
  padding: 30px 30px 10px 30px;
}

header h1 a{
    text-decoration: none;
    color: #FFF;
    font-size: 50px;
}

header h2{
    text-decoration: none;
    color: #FFF;
}

nav ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  text-align: right;
  align-items: center;
  list-style-type: none;
  margin: 15px 0;
}

#logo{
  height: 120px;
  width: 120px;
  margin: 10px 0 0 0;
  border: none;
}

nav ul li{
  display: inline;
  font-weight: bold;
  padding: 8px;
}

nav ul li a{
  text-decoration: none;
  font-size: 25px;
  color: #FFF;
}

nav ul li a:link, nav ul li a:visited {
    text-decoration: none;
    color: #FFF;
}

nav ul li:hover{
  border-bottom: 2pt solid #FFF;
  border-top: 2pt solid #FFF;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.3);
}


/*--------- Home Page --------*/

section#content {
    padding: 5em 7em;
    display: flex;
    flex-direction: column;
}

section#content h3{
    font-size: 2.2em;
    color:#000;
    text-align: left;
    padding-bottom: 0.5em;
}

section#content p{
    padding: 10px 0;
}

section#articles {
    background-color: #000;
    padding: 4em 6em;
}

section#articles .article-container {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #16baba;
    padding: 20px;

} 

section#articles h2,
#content h2 {
    padding-bottom: 5px;
    flex: 0 0 100%;
    color: #16baba;
    text-align: center;
    font-size: 2.5em;
} 

section#articles h3{
  text-align: center;
  flex: 0 0 100%;
  border-bottom: 1px solid #c0c0c0;
  padding: 20px;
  margin: 0 0 25px 0;
}

#articles article.post {
  width: 45%;
  border: 1px solid #fff;
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8em;
  border-radius: 10px;
  padding: 5px;
}

#articles article.post h3 {
  font-size: 26px;
}

#articles figure img{
  width: 100%;
  border-radius: 10px;
}

#articles figure .earth{
 width: 76%;
 display: block;
 margin: 0 auto;

}

#articles li{
  padding: 5px 20px;
  list-style-position: inside;
}

#articles article time,
#articles article figcaption,
#articles article footer {
    font-size: 1em;
    text-align: right;
    color: #808080;
    text-transform:lowercase
}

#articles p{
  padding: 10px;
  font-size: 16px;
}


.endcontainer{
  margin: 0 auto;
  width: 100%;
  display: block;
}

.container#pullquote{
  padding: 25px;
}

.container#pullquote p{
  display: flex;
  justify-content: center;
  padding: 5px;
  color: #16baba;
}

#colophon h6{
  display: flex;
  justify-content: center;
  padding: 0 0 10px 0;
  color: #16baba;
}

/*------ COLOR PAGE ---------*/

#articles article.color-post{
  width: 30%;
  border: 1px solid #fff;
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8em;
  border-radius: 10px;
  padding: 5px;
}

#articles article.color-post img{
  border: solid white 0.8pt;
}

/*--------- VOICE PAGE ----------*/

.voice-main p {
  font-size: 1.1em;
}

.voice-main ul{
  margin: 0 15px;
}

.voice-main li{
  padding: 10px;
  list-style-position: inside;
}

section#content .voice-main h2{
  color: black;
  text-align: left;
  font-size: 2.2em;
}


/*------- TYPOGRAPHY PAGE --------*/

.type-intro p{
  font-size: 1.1em;
}

.type-intro img{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 25px 0 0 0;
}




/*------- TYPOGRAPHY SLIDESHOW --------*/

.slideshow{
  margin: auto;
  
  /* Set Max Content Width */
  max-width: 720px;
  height: 280px;
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
  color: #16baba;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
  color: black ;
}

.card{
  height: 280px;
  display: grid;
  padding: 2rem;
  border:2px solid #c0c0c0;
}

.card-content p{
  padding: 5px 0;
}

#p-headline{
  font-family: "Helvetica-Neue", Helvetica, sans-serif;
  font-size: 26px;
}

#s-headline{
  font-family: "Helvetica-Neue", Helvetica, sans-serif;
  font-size: 16px;
}

#b-headline{
  font-family: "Helvetica-Neue", Helvetica, sans-serif;
  font-size: 16px;
}

/*------- LOGO PAGE ----------*/

.primary-logo{
  background: #16baba;
  padding: 10px;
  margin: 20px auto;
  border: 2pt solid #000;
  margin-bottom: 100px;
  width: 700px;
}

.alt-logo{
  background: #16baba;
  padding: 10px;
  margin: 20px auto;
  border: 2pt solid #000;
}